<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839148412972-cll03ht0t6hq8c6ojcvrf3b9f6kvsu1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839148412972-cll03ht0t6hq8c6ojcvrf3b9f6kvsu1m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>839148412972-1omrkalaclsk0600v76n0i46ks6mk9id.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC79ZnIIGi5EzKDooKgwb_Tj8dtgHR2Lck</string>
	<key>GCM_SENDER_ID</key>
	<string>839148412972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ffLoginGpt4</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-3d3b0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-3d3b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839148412972:ios:445e99c3fbabf9b3ccf189</string>
</dict>
</plist>